@import "variables.css";

.proton_rating_div {
    position: relative;
    float: left;
    margin-top: auto;
    margin-right: 10px;
    margin-left: 2px;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 6px;
    border-radius: 2px;
}

.proton_rating_link {
    position: relative;
    font-size: large;
    font-weight: 100;
    color: black;
}

.proton_rating_link:hover {
    color: black;
}

.proton_platinum {
    background: var(--proton_platinum);
    transition: 0.1s;
}

.proton_platinum:hover {
    filter: brightness(110%);
}

.proton_gold {
    background: var(--proton_gold);
    transition: 0.1s;
}

.proton_gold:hover {
    filter: brightness(110%);
}

.proton_silver {
    background: var(--proton_silver);
    transition: 0.1s;
}

.proton_silver:hover {
    filter: brightness(110%);
}

.proton_bronze {
    background: var(--proton_bronze);
    transition: 0.1s;
}

.proton_bronze:hover {
    filter: brightness(110%);
}

.proton_borked {
    background: var(--proton_native);
    transition: 0.1s;
}

.proton_borked:hover {
    filter: brightness(110%);
}

.proton_pending {
    background: grey;
    transition: 0.1s;
}

.proton_pending:hover {
    filter: brightness(110%);
}

.proton_native {
    background: var(--proton_native);
    transition: 0.1s;
}

.proton_native:hover {
    filter: brightness(110%);
}

