
.proton_rating_div {
    position: relative;
    float: left;
    margin-top: auto;
    margin-right: 10px;
    margin-left: 2px;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 6px;
    border-radius: 2px;
}

.proton_rating_link {
    position: relative;
    font-size: large;
    font-weight:100;
    color: black;
}

.proton_rating_link:hover {
    color: black;
}

.proton_platinum {
    background: rgb(180, 199, 220);
    transition: 0.3s;
}

.proton_platinum:hover {
    background: rgb(195, 216, 241);
}

.proton_gold {
    background: rgb(207, 181, 59);
    transition: 0.3s;
}

.proton_gold:hover {
    background: rgb(255, 221, 69);
}

.proton_silver {
    background: rgb(192, 192, 192);
    transition: 0.3s;
}

.proton_silver:hover {
    background: rgb(231, 231, 231);
}

.proton_bronze {
    background: rgb(231, 143, 54);
    transition: 0.3s;
}

.proton_bronze:hover {
    background: rgb(226, 141, 57);
}

.proton_borked {
    background: rgb(204, 0, 0);
    transition: 0.3s;
}

.proton_borked:hover {
    background: rgb(255, 0, 0);
}

.proton_pending {
    background: grey;
    transition: 0.3s;
}

.proton_pending:hover {
    background: rgb(158, 158, 158);
}